In [1]:
import numpy as np
import matplotlib.pylab as plt
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import metrics
import sklearn

In [6]:
df = pd.read_csv('Cleaned.csv')
df = df.drop(columns = ["Unnamed: 0"])
df.head()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,2,1035000,2.5,3067,2,1,0,156,79.0,1900,-37.8079,144.9934,4019
1,3,1465000,2.5,3067,3,2,0,134,150.0,1900,-37.8093,144.9944,4019
2,4,1600000,2.5,3067,3,1,2,120,142.0,2014,-37.8072,144.9941,4019
3,3,1876000,2.5,3067,4,2,0,245,210.0,1910,-37.8024,144.9993,4019
4,2,1636000,2.5,3067,2,1,2,256,107.0,1890,-37.8060,144.9954,4019

In [8]:
Price = df.loc[:,['Price']]
Price.describe()

              Price
count  6.830000e+03
mean   1.077604e+06
std    6.733202e+05
min    1.310000e+05
25%    6.300000e+05
50%    8.900000e+05
75%    1.334000e+06
max    9.000000e+06

In [10]:
from scipy import stats

df = df.loc[:,['Price', 'Distance','BuildingArea','YearBuilt','Landsize']]

z_scores = stats.zscore(df)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 5).all(axis = 1)

df = df[filtered_entries]
print(df)

        Price  Distance  BuildingArea  YearBuilt  Landsize
0     1035000       2.5          79.0       1900       156
1     1465000       2.5         150.0       1900       134
2     1600000       2.5         142.0       2014       120
3     1876000       2.5         210.0       1910       245
4     1636000       2.5         107.0       1890       256
...       ...       ...           ...        ...       ...
6825   650000      14.5          79.0       2006       210
6826   635000      14.7         172.0       1980       662
6827  1031000       6.8         133.0       1995       333
6828  2500000       6.8         157.0       1920       866
6829  1285000       6.3         112.0       1920       362

[6741 rows x 5 columns]

In [13]:
y = df.loc[:,['Price']]
X = df.loc[:,['Distance','BuildingArea','YearBuilt','Landsize']]

X.describe()

          Distance  BuildingArea    YearBuilt     Landsize
count  6741.000000   6741.000000  6741.000000  6741.000000
mean     10.116986    140.408919  1964.510458   439.368195
std       5.816208     72.208015    36.472718   415.593656
min       0.000000      0.000000  1830.000000     0.000000
25%       6.200000     93.000000  1940.000000   164.000000
50%       9.200000    126.000000  1970.000000   400.000000
75%      13.000000    171.000000  2000.000000   634.000000
max      39.800000    575.000000  2018.000000  5022.000000

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

RFR = RandomForestRegressor()
RFR.fit(X_train, y_train)
y_pred = RFR.predict(X_test)
MAE = mean_absolute_error(y_test, y_pred)

print('MAE (Random Forest - All Four Variables):')
print(MAE)

/opt/jupyterhub/pyvenv/lib/python3.6/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

MAE (Random Forest - All Four Variables):
229887.53679093943

In [22]:
from sklearn.linear_model import LinearRegression

REG = LinearRegression()
REG.fit(X_train, y_train)
y_REG_pred = REG.predict(X_test)

MAE_REG = mean_absolute_error(y_test, y_REG_pred)

print('MAE (Linear Regression - All Four Variables):')
print(MAE_REG)

MAE (Linear Regression - All Four Variables):
289391.62029285356

In [25]:
XX = df.loc[:,['BuildingArea','YearBuilt']]

XX.describe()

       BuildingArea    YearBuilt
count   6741.000000  6741.000000
mean     140.408919  1964.510458
std       72.208015    36.472718
min        0.000000  1830.000000
25%       93.000000  1940.000000
50%      126.000000  1970.000000
75%      171.000000  2000.000000
max      575.000000  2018.000000

In [34]:
XX_train, XX_test, y_train, y_test = train_test_split(XX,y)

RFR_twovar = RandomForestRegressor()
RFR_twovar.fit(XX_train, y_train)
y_twovar_pred = RFR_twovar.predict(XX_test)
MAE_twovar_For = mean_absolute_error(y_test, y_twovar_pred)

print('MAE (Random Forest - Two Variables):')
print(MAE_twovar_For)

/opt/jupyterhub/pyvenv/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

MAE (Random Forest - Two Variables):
315969.46381397225

In [35]:
REG_twovar = LinearRegression()
REG_twovar.fit(XX_train, y_train)
y_REG_twovar_pred = REG_twovar.predict(XX_test)

MAE_REG_twovar = mean_absolute_error(y_test, y_REG_twovar_pred)

print('MAE (Linear Regression - Two Variables):')
print(MAE_REG_twovar)

MAE (Linear Regression - Two Variables):
309156.1947644135